html,
body,
canvas {
  display: flex;
  flex-flow: row;
  height: 100%;
  width: 100%;
  display: block;
}

.CubeList {
  position: absolute;
  z-index: 10;
  top: 0;
  padding: 20px;
}

.text {
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.flex-row-container {
  display: flex;
  flex-flow: row;
  height: 100%;
  width: 100%;
}

.sidebar {
  display: block;
  min-width: 250px;
  background-color: var(--color-mid-gray);
  margin: 3px 4px 3px 4px;
  box-sizing: border-box;
  border: 1px solid var(--color-mid-gray);
  outline: 3px solid var(--color-mid-gray);
}
